* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ede8e2;
    margin: 0 auto;
}

.header {
    height: 120px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.message {
    width: 70%;
}

.message__content {
    font-size: 1.25rem;
    font-weight: bold;
    color: #393c41;
}

/* main */

.main {
    height: calc(100vh - (120px + 120px));
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input {
    border-width: 1px;
    border-color: rgb(57, 60, 65, 0.5);
    border-radius: 1rem;
    height: 2.5rem;
    width: 90%;
    padding: 1.5rem;
    font-size: 24px;
    font-weight: bold;
}

/* nav */

.nav {
    background-color: #ffffff;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
}

.btn {
    width: 150px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.prev__btn {
    color: #308c6e;
    background-color: #d9d9d9;
}

.next__btn {
    color: #ffffff;
    background-color: #308c6e;
}

a {
    text-decoration: none;
}

/* ステップインジケーター */

.circle1 {
    width: 30%;
    flex-shrink: 0;
    position: relative;
    width: 100px;
    height: 100px;
    background: #308c6e;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.circle1::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -50px;
    width: 100px;
    height: 100px;
    background: #393c41;
    z-index: 2;
}

.circle1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 50px;
    width: 100px;
    height: 100px;
    transform-origin: left 50px;
    z-index: 3;
    animation-name: rotate-circle1-right;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.circle1-inner {
    color: #393c41;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 19px 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 4;
}

@keyframes rotate-circle1-right {
    0% {
        transform: rotate(0deg);
        background: #393c41;
    }
    100% {
        transform: rotate(120deg);
        background: #393c41;
    }
}
