* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ede8e2;
    margin: 0 auto;
}

/* main */

.main {
    height: calc(100vh - (120px + 120px));
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    border-width: 1px;
    border-color: rgb(57, 60, 65, 0.5);
    border-radius: 1rem;
    height: 2.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.hidden {
    display: none;
}

.map {
    height: calc(100vh - (120px + 120px));
}

#error-display {
    color: red;
}
